services:
  postgres:
    image: postgres:16
    container_name: placement_postgres
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: placement_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
